
header {
  background-color: rgba(22, 34, 48, 0.4);
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);    
  
  padding: 0rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; 
  top: 0;
  z-index: 100;
}

.header-left,
.header-right {
  flex: 1;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.logo {
  height: 60px;
  width: auto;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
  transition: letter-spacing 0.25s ease, color 0.25s ease;
  letter-spacing: 0px; 
}

nav ul li a:hover {
  letter-spacing: 2px; 
  color: #ffffff;      
}

.header-left nav ul {
  justify-content: flex-start;
}

.header-right nav ul {
  justify-content: flex-end;
}
