
.hero {
  position: relative;
}

.layers {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}


.hero-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.layer-1 { 
  z-index: 5;
  background-image: url("../Layers/layer1.webp");
}

.layer-2 { 
  z-index: 4;
  background-image: url("../Layers/layer2.webp");
}

.layer-3 { 
  z-index: 3;
  background-image: url("../Layers/layer3.webp");
}

.layer-4 { 
  z-index: 2;
  background-image: url("../Layers/layer4.webp");
}

.layer-5 { 
  z-index: 1;
  background-image: url("../Layers/layer5.webp");
}


.bg-mask {
  position: fixed;
  inset: 0;
  background-image: url("../background section/background section.webp");
  background-size: cover;
  background-position: center;
  z-index: 10; 
  pointer-events: none;
}


.site-content {
  position: relative;
  z-index: 20;
}
